mixin generateTable(two_dimension_array)
  table.table.table-bordered
    tbody
      for i_two in two_dimension_array
        tr
          - var array_len = 100 / i_two.length
          for i_one in i_two
            td(id = '_#{i_one}', style = 'width : #{array_len}%') #{i_one}


div(data-role="page")
  div(data-role="header")
    h1 #{title}
    a.ui-btn-right(data-icon="refresh",onClick="history.go()") Refresh
    div(data-role="navbar",data-theme='d',data-iconpos="top")
      ul
        li
          a(rel="external", data-ajax="false", href="/2/1",data-theme="d",data-icon="",) 2-1열
        li
          a(rel="external", data-ajax="false", href="#",data-theme="d",data-icon="",class="ui-btn-active") 2-2열
        li
          a(rel="external", data-ajax="false", href="/2/3",data-theme="d",data-icon="") 2-3열
        li
          a(rel="external", data-ajax="false", href="/4/6",data-theme="d",data-icon="") 4-6열
        li
          a(rel="external", data-ajax="false", href="/4/7",data-theme="d",data-icon="") 4-7열
  div#slider(data-role="content")
    ul
      li(style='display:block')
        div
        - var table_no_array = [['1','2','3','4','5','6'], ['22', '23', '24', '25', '26', '27']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['43', '44', '45', '46', '47', '48'], ['64', '65', '66', '67', '68', '69']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['85', '86', '87', '88', '89', '90'], ['105', '106', '107', '108', '109', '110']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['125', '126', '127', '128', '129', '130'], ['147', '148', '149', '150', '151', '152']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['', '', '', '168', '169', '170'], ['', '', '', '186', '187', '188']]
        mixin generateTable(table_no_array)

      li(style='display:none')
        div
        - var table_no_array = [['7','8','9','10','11','12', '13', '14', '15'], ['28', '29', '30', '31', '32', '33', '34', '35', '36']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['49','50','51','52','53','54', '55', '56', '57'], ['70', '71', '72', '73', '74', '75', '76', '77', '78']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['91','92','93','94','95','96', '97', '98', ''], ['111', '112', '113', '114', '115', '116', '117', '118', '']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['131','132','133','134','135','136', '137', '138', '139'], ['153', '154', '155', '156', '157', '158', '159', '160', '161']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['171','172','173','174','175','176', '177', '178', '179'], ['189', '190', '191', '192', '193', '194', '195', '196', '197']]
        mixin generateTable(table_no_array)

      li(sytle='display:none')
        div
        - var table_no_array = [['16','17','18','19','20','21'], ['37', '38', '39', '40', '41', '42']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['58','59','60','61','62','63'], ['79', '80', '81', '82', '83', '84']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['99','100','101','102','103','104'], ['119', '120', '121', '122', '123', '124']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['140','141','142','143','144','145'], ['162', '163', '164', '165', '166', '167']]
        mixin generateTable(table_no_array)
        - var table_no_array = [['180','181','182','183','184','185'], ['198', '199', '200', '201', '202', '203']]
        mixin generateTable(table_no_array)

  div(data-theme="d",data-role="footer",onClick='moveToAskFm()')
    h3 HannJS에게 건의
